</main></body>
<hr>
<footer>
  <div class="card-container">

    <div class="float-left footer-text text-center">
      <h5>&copy;Gabriel Paiu</h5>

      <i class="fa-brands fa-linkedin fa-xl"></i></i>
      <a class="footer-link" href="https://www.linkedin.com/in/gabrielpaiu/">gabrielpaiu</a>

      <i class="fa-regular fa-envelope fa-xl"></i>
      <a class="footer-link" href="mailto:gabriel.paiu@gmail.com">gabriel.paiu@gmail.com</a>

      <i class="fa-brands fa-x-twitter fa-xl"></i>
      <a class="footer-link" href="https://x.com/GabrielPaiu">gabrielpaiu</a>

      <i class="fa-brands fa-facebook fa-xl"></i>
      <a class="footer-link" href="https://www.facebook.com/gabriel.paiu">gabriel.paiu</a>
    </div>

    <div class="float-right footer-text text-center">
      <h5>&copy;Andrei Sava</h5>

      <i class="fa-brands fa-linkedin fa-xl"></i></i>
      <a class="footer-link" href="https://www.linkedin.com/in/andrei-sava-b2368533b/">andrei-sava</a>

      <i class="fa-regular fa-envelope fa-xl"></i>
      <a class="footer-link" href="mailto:andreisava88@gmail.com">andreisava88@gmail.com</a>

      <i class="fa-brands fa-x-twitter fa-xl"></i>
      <a class="footer-link" href="https://x.com/hisky1">hisky1</a>

      <i class="fa-brands fa-facebook fa-xl"></i>
      <a class="footer-link" href="https://www.facebook.com/andy.sava.75">andy.sava.75</a>

    </div>
  </div>
</footer>
</body>

</html>