<!DOCTYPE html>

<head>
  <html lang="EN">
  <title>{{ title if title else 'Podinfo Extended' }}</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

  <style>
    {% include 'style.css' %}
  </style>
</head>

<body><main>
  <header class="bg-dark text-white py-3">
    <div class="container">
      <h1 class="text-center">Podinfo Extended {%- if title %} / {{ title }}{% endif %}</h1>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="#navbarNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collaps navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active"><a class="nav-link text-white" href="/">Home</a></li>
              <li class="nav-item active"><a class="nav-link text-white" href="/access_log">Access Log</a></li>
              <li class="nav-item active"><a class="nav-link text-white" href="/pods">Pods</a></li>
              <li class="nav-item active"><a class="nav-link text-white" href="/k8s">K8s</a></li>
            </ul>
          </div>
      </nav>
    </div>
  </header>
  <hr>