{% include 'head.html' %}

{% for namespace, objects in kubernetes_objects.items() %}
<div class="kubernetes-main-container" width="100%">
  <div class="kubernetes-namespace-header">{{ namespace }}</div>
  <div class="row">

  {% for kind, object_list in objects.items() %}
    {% for name in object_list %}
    <div class="col-sm-3 d-inline-flex align-items-center kubernetes-object-label">
      <img src="{{ icons[kind] }}" alt="{{kind}}" style="width: auto; height: 30px; padding: 4px;">
        {% if protected(namespace, name) %}
          <div class=kubernetes-object-not-allowed>
            {{ name }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
            </svg>
          </div>
        {% else %}
          <a href="/podkiller?namespace={{ namespace }}&kind={{ kind }}&name={{ name }}" class="kubernetes-object-clickable">
            {{ name }}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}

</div>

</div>
{% endfor %}

{% include 'footer.html' %}