{% include 'head.html' %}

<div class="main-page-disclaimer">
  This project is meant to illustrate key web and infrastructure concepts for learning purposes while giving us the
  chance to experiment with some new tools and technologies. It should not, under any circumstance, be used in an
  environment where it is exposed as a service over the Internet.
</div>


<div id="main-page-button-group">

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn btn-font-override" data-bs-toggle="collapse" aria-expanded="false"
        data-bs-target="#high-availability" aria-controls="high-availability">
        High Availability
      </a>
    </div>
    <div id="high-availability" class="collapse multi-collapse" data-bs-parent="#main-page-button-group">
      <div class="card-body">
        <div class="card-container">
          <div class="float-left">
            <img class="card-image" src="http://aavistores.com/png/high-availability-diagram.png">
          </div>
          <div class="card-text float-right">
            <b>High availability (HA)</b> refers to the design and implementation of systems, networks, or applications
            to ensure they remain operational and accessible with minimal downtime, even in the face of failures or
            disruptions. It typically involves redundant hardware, software, and network components, along with failover
            mechanisms to quickly switch to backup resources in case of a failure. HA aims to meet specific uptime
            targets, often measured as a percentage (e.g., 99.99% uptime), which translates to only a few minutes of
            downtime annually. This approach is critical for mission-critical services like e-commerce, healthcare, and
            cloud computing, where reliability is paramount.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn btn-font-override" data-bs-toggle="collapse" aria-expanded="false"
        data-bs-target="#horizontal-scaling" aria-controls="horizontal-scaling">
        Horizontal Scaling

      </a>
    </div>
    <div id="horizontal-scaling" class="collapse multi-collapse" data-bs-parent="#main-page-button-group">
      <div class="card-body">
        <div class="card-body">
          <div class="card-container">
            <div class="card-text float-left">
              <b>Horizontal scaling</b>, also known as scaling out, refers to the practice of adding more machines or
              instances to a system to handle increased load or demand. Unlike vertical scaling, which involves
              upgrading existing hardware, horizontal scaling distributes the workload across multiple servers or nodes,
              improving performance, reliability, and capacity. This approach is particularly beneficial for cloud-based
              applications and services, as it allows for dynamic scaling and better fault tolerance. Horizontal scaling
              supports elasticity, enabling systems to efficiently manage traffic spikes and maintain high availability
              without being limited by the capacity of a single server.
            </div>
            <div class="float-right">
              <img class="card-image"
                src="https://www.webscale.com/wp-content/uploads/2023/10/horizontal-vs-vertical-scaling-diagram-1024x443.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn btn-font-override" data-bs-toggle="collapse" aria-expanded="false"
        data-bs-target="#containers" aria-controls="container">
        Containers
      </a>
    </div>
    <div id="containers" class="collapse multi-collapse" data-bs-parent="#main-page-button-group">
      <div class="card-body">
        <div class="card-container">
          <div class="float-left">
            <img class="card-image" src="https://www.redhat.com/rhdc/managed-files/virtualization-vs-containers.png">
          </div>
          <div class="card-text float-right">
            <b>Container</b> represents the sate in which a process (or a set of processes) runs isolated from the
            rest of the system. All the files necessary to run the process are provided from a distinct image, meaning
            containers are portable and consistent as they move from one lifecycle environment to another (from
            development to production).
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn btn-font-override" data-bs-toggle="collapse" aria-expanded="false"
        data-bs-target="#kubernetes" aria-controls="kubernetes">
        Kubernetes
      </a>
    </div>
    <div id="kubernetes" class="collapse multi-collapse" data-bs-parent="#main-page-button-group">
      <div class="card-body">
        <div class="card-container">
          <div class="card-text float-left">
            <b>Kubernetes</b> is an open-source platform for automating the deployment, scaling, and management of
            containerized applications. It orchestrates containers across clusters of machines, ensuring high
            availability, scalability, and efficient resource utilization. Key features include self-healing,
            automatic scaling, service discovery, and rolling updates. Kubernetes uses a declarative configuration
            model to define desired application states, and it provides robust networking, load balancing, and
            resource management. Its architecture includes master and worker nodes, with components like pods,
            deployments, and services to manage workloads. Kubernetes has become a core tool for DevOps,
            microservices, and cloud-native applications.
          </div>
          <div class="float-right">
            <img class="card-image"
              src="https://www.cncf.io/wp-content/uploads/2020/09/Kubernetes-architecture-diagram-1-1.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn btn-font-override" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#tools"
        aria-controls="tools">
        References
      </a>
    </div>
    <div id="tools" class="collapse multi-collapse" data-bs-parent="#main-page-button-group">
      <div class="card-body">
        <div class="list-group">
          <a href="https://www.python.org/" class="list-group-item list-group-item-action list-group-item-success"
            aria-current="true">
            Python
          </a>
          <a href="https://www.sqlalchemy.org/" class="list-group-item list-group-item-action">
            Python / SQLAlchemy
          </a>
          <a href="https://docs.python.org/3/library/http.server.html#http.server.HTTPServer"
            class="list-group-item list-group-item-action">
            Python / HTTPServer
          </a>
          <a href="https://github.com/redis/redis-py" class="list-group-item list-group-item-action">
            Python / redis-py
          </a>
          <a href="https://github.com/kubernetes-client/python" class="list-group-item list-group-item-action">
            Python / kubernetes-client
          </a>
          <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
            class="list-group-item list-group-item-action list-group-item-success">
            Bootstrap 5
          </a>
          <a href="https://www.w3schools.com/css/"
            class="list-group-item list-group-item-action list-group-item-success">
            CSS
          </a>
          <a href="https://docs.podman.io/en/latest/"
            class="list-group-item list-group-item-action list-group-item-success">
            Podman
          </a>
          <a href="https://minikube.sigs.k8s.io/docs/"
            class="list-group-item list-group-item-action list-group-item-success">
            Minikube
          </a>
          <a href="https://kubernetes.io/docs/home/"
            class="list-group-item list-group-item-action list-group-item-success">
            Kubernetes
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

{% include 'footer.html' %}