{% include 'head.html' %}
<table class="table table-hover table-light table-striped text-center hover-default">
  <thead>
    <th scope="col">Hostname</th>
    <th scope="col">Response Timestamp</th>
  </thead>
  <tbody>
    {%- for record in records -%}
    <tr>
      <td>{{ record[0] }}</td>
      <td>{{ record[1] }}</td>
    </tr>
      {%- endfor -%}
  </tbody>
</table>

{% include 'footer.html' %}