{% include 'head.html' %}
<section class="p-5 bg-light">
  <div class="row g-4 align-items-center">

    {% for pod, value in records.items() %}

    <div class="col-4 mt-0 m-0 mb-3 px-2 hover-default">
      <div class="card text-center p-0">
        <h5 class="card-header text-center">{{ pod }}</h5>
        <div class="card-body dark p-0">
          <table class="table table-sm table-light m-0 p-4 table-borderless">
            <tbody>
              {% for pod_info_key, pod_info_value in value.items() %}
              <tr></tr>
                <td class="pod-table-info-key">{{ pod_info_key.upper() }}</td>
                <td class="pod-table-info-value">{{ pod_info_value }}</td>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</section>

{% include 'footer.html' %}