/* Sticky footer - adjust for pages with a height */
/* lower than the screen vertical size* */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: 20px;
  margin-bottom: 0px;
}

.main-page-disclaimer {
  width: 95%;
  margin: auto;
  text-align: justify;
  background-color: #8d4c40;
  color: white;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-page-button-group {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
}

.card-image {
  border: 0px;
  width: auto;
  max-height: 250px;
  margin: 20px;
  padding: 0px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.definition-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
}

.btn-font-override {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.pod-logo {
  width: 30px;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  margin-top: 10px;
  vertical-align: middle;
}

.pod-table-info-key {
  text-align: right;
  border-right: 1px solid !important;
  width: 50%;
  font-size: 0.8em !important;
  font-weight: lighter;
  vertical-align: middle;
}

.pod-table-info-value {
  text-align: left;
  border-left: 1px solid !important;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
}

.hover-default:hover {
  cursor: default;
}

.kubernetes-object-label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
}

.kubernetes-object-clickable {
  color: #292661;
  text-decoration: none;
}

.kubernetes-object-clickable:hover {
  color: #292661;
  text-decoration: underline;
}

.kubernetes-object-not-allowed:hover {
  cursor: not-allowed;
}

.kubernetes-namespace-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(235, 235, 235);
  color: #010835;
  padding-top: 5px;
  padding-bottom: 5px;
}

.kubernetes-main-container {
  width: 95%;
  margin: auto;
}

.footer-text {
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 0.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-link {
  font-size: 0.9em;
  color: rgb(7, 27, 71);
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(7, 27, 71);
  text-decoration: underline;
}

h5 {
  font-size: 1.1em;
}